body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: transparent;
}

header {
    position: absolute;
    left: 87%;
    background-color: transparent;
    color: #fff;
    padding: 10px;
    text-align: right;
    display: inline-block;
    z-index: 1;
}

header a {
    color: #c4edbf;
    text-decoration: none;
    margin-left: 10px;
}

header a:hover {
    text-decoration: underline;
}

.blog-posts {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

.post-container {
    margin: 20px 0;
    border: 1px solid #ccc;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    padding: 20px;
}

.post h2 {
    font-size: 1.5rem;
}

.banner {
    max-width: 100%;
}

.banner img {
    width: 100%;
    height: auto;
    display: block; 
    margin: 0 auto; 
}