body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('Login.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index: 1;
}

nav {
    font-size: large;
    position: absolute;
    right: 0;
    width: fit-content;
    background-color: #010f01;
    padding: 10px 5px;
    text-align: right;
    text-decoration: none;
    display: block;
    z-index: 1;
}

nav a {
    color: #3de638;
    text-decoration: none;
}

main{
    margin: 0 auto;
    top: 100px;
    width: 60%;
    position: relative;
    color: #3de638;
    text-shadow: 2px 2px 0 black;
    text-decoration: none;
    background-color: transparent;
    z-index: 1;
    text-decoration: none;
}

#welcomeBanner {
    margin: 10px auto 120px;
    font-size: 48px;
    color: #3de638;
    text-shadow: 2px 2px 0 black;
    text-align: center;
    background-color: transparent;
    z-index: 1;
}

form {
    font-size: xx-large;
    position: relative;
    margin: 0 auto;
    text-align: center;
    width: max-content;
}

input {
    width: 300px;
}

#response {
    position: relative;
    margin: 15px auto;
    text-align: center;
    width: max-content;
}