body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('Cyberbunker.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

nav {
    font-size: large;
    position: absolute;
    right: 0;
    width: fit-content;
    background-color: #010f01;
    padding: 10px 5px;
    text-align: right;
    text-decoration: none;
    float: left;
}

nav a {
    color: #3de638;
    text-shadow: 1px 1px 0 black;
    text-decoration: none;
}

main {
    margin: 0 auto;
    width: 60%;
    position: relative;
    color: #3de638;
    text-shadow: 1px 1px 0 black;
    background-color: transparent;
}

article iframe{
    color: #3de638;
    text-shadow: 1px 1px 0 black;
    text-decoration: none;
    background-color: #010f01;
}

.post h2 {
    color: #3de638;
    text-shadow: 1px 1px 0 black;
    text-decoration: none;
    font-size: 1.5rem;
}


#newPost a{
    color: #3de638;
    text-shadow: 1px 1px 0 black;
    text-decoration: none;
    background-color: #010f01;
}

header {
    font-size: xx-large;
    color: #3de638;
    text-transform: uppercase;
    text-shadow: 1px 1px 0 black;
    text-align: center;
    background-color: #0e2305;
}
